In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("CyberSecurity.csv")

In [4]:
df.head()

,FIT101,LIT101,MV101,P101,P102,AIT201,AIT202,AIT203,FIT201,Attack
0,2.427057,522.8467,2,2,1,262.0161,8.396437,328.6337,2.445391,0
1,2.446274,522.8860,2,2,1,262.0161,8.396437,328.6337,2.445391,0
2,2.489191,522.8467,2,2,1,262.0161,8.394514,328.6337,2.442316,0
3,2.534350,522.9645,2,2,1,262.0161,8.394514,328.6337,2.442316,0
4,2.569260,523.4748,2,2,1,262.0161,8.394514,328.6337,2.443085,0